<nav class="navbar">
  <a class="navbar-brand" href="https://actuallyadequate.com"
    ><span
      hx-trigger="load"
      hx-get="https://actuallyadequate.com/src/assets/actuallyadequate_logo.svg"
    ></span
  ></a>
  <div
    id="navbar-toggle"
    class="navbar-toggle"
    role="button"
    onclick="toggleNav()"
    hx-trigger="load"
    hx-get="https://actuallyadequate.com/src/assets/hamburger_menu.svg"
  ></div>
  <div class="navbar-nav" id="navbar-list">
    <a class="nav-link" href="https://projects.actuallyadequate.com">Home</a>
    <a class="nav-link" href="https://portfolio.actuallyadequate.com"
      >Portfolio</a
    >
  </div>
  <div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
      <input type="checkbox" id="checkbox" />
      <div class="slider round"></div>
    </label>
  </div>
  <script src="https://actuallyadequate.com/src/js/themetoggle.js"></script>
  <script src="https://actuallyadequate.com/src/js/navbar_dropdown.js"></script>
</nav>
