<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actually Adequate</title>
    <!-- Include htmx library -->
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
    <!-- CSS -->
    <link rel="stylesheet" href="src/css/styles.css" />
    <!-- JS -->
  </head>
  <body>
    <header hx-get="src/html/nav.html" hx-trigger="load"></header>
    <div hx-trigger="load" hx-get="/helloworld"></div>
  </body>
</html>
